@font-face {
	font-family: 'Press Start 2P';
	src: url('../fonts/PressStart2P.ttf');
}

* {
	box-sizing: border-box;
}

body {
	font-family: 'Press Start 2P', sans-serif;
	line-height: 30px;
	text-align: center;
	background-color: #1b1b1b;
	color: yellow;
}

header {
	margin: 20px 0;
	font-size: 1.5em;
}

#ring{
	position: relative;
	width: 450px;
	margin: 0 auto;
}

aside {
	position: relative;
	color: yellow;
}

#ring-img {
	max-width: 100%;
	max-height: 100%;
}

section {
	margin-top: 20px;
}

#wordState {
	letter-spacing: 10px;
	color: #ffffff;
}

#incorrectLetters {
	color: #e64545;
	margin-bottom: 30px;
}

.healthBar {
	position: absolute;
	bottom: 15px;
	width: 215px;
	height: 25px;
	z-index: 9998;
}

.hpBackground {
	position: absolute;
	bottom: 15px;
	width: 215px;
	height: 25px;
	z-index: 9997;
	background-color: black;
}

#playerHP {
	left: 5px;
	background-color: #ffffff;
}

#hpBG1 {
	left: 5px;
	border: 1px solid #ffffff;
}

#CPUHP {
	right: 5px;
	background-color: #ec3636;
}

#hpBG2 {
	right: 5px;
	border: 1px solid #ec3636;
}

#player {
	position: absolute;
	z-index: 9999;
	bottom: 30%;
	left: 45%;
	width: 40px;
	height: 73px;
	display: block;
	background-image: url('../images/mac.png');
	animation: mac 0.75s steps(3) infinite;
}

@keyframes mac {
	100% {
		background-position: -120px 0;
	}
}

#PC {
	position: absolute;
	bottom: 40%;
	left: 45%;
	width: 80px;
	height: 118px;
	display: block;
	background-image: url('../images/mike2.png');
	animation: mike 1.5s steps(7) infinite;
}

@keyframes mike {
	100% {
		background-position: -555px 0;
	}
}

#player-punched {
	position: absolute;
	z-index: 9999;
	bottom: 30%;
	left: 45%;
	width: 40px;
	height: 73px;
	background-image: url('../images/mac-punch.png');
	display: none;
}

#PC-punched {
	position: absolute;
	bottom: 40%;
	left: 45%;
	width: 80px;
	height: 118px;
	background-image: url('../images/mike-hit.png');
	display: none;
}

#scoreboard {
	width: 180px;
	margin: 20px auto 0 auto;
}

#trophy-img {
	position: relative;
	float: left;
}

#score {
	position: relative;
	float: right;
	font-size: 1.5em;
	color: #ffffff;
	padding-top: 25px;
}

#toggleMusic {
	position: absolute;
	bottom: 12%;
	cursor: pointer;
}

#hint {
	color: #16a7ff;
}

.clearfix:after {
   content: " "; /* Older browser do not support empty content */
   visibility: hidden;
   display: block;
   height: 0;
   clear: both;
}